{% extends 'download/base.html' %}



{% block body %}


<!-- <form class="form-inline"  action="posts" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="task_description">task_description</label>
        <input type="text" name="task_description" class="form-control" style="width:30%;" required="required"/>
        <label for="cost">cost</label>
        <input type="text" name="cost" class="form-control" style="width:30%;" required="required"/>
        <label for="status">status</label>
        <input type="text" name="status" class="form-control" style="width:30%;" required="required"/>
        <button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span> ADD</button>
    </div>
</form> -->
<br />
<table class="table table-bordered">
    <thead class="alert-info">
        <tr>
            <th>#</th>
            <!-- <th>task_id</th> -->
            <th>task_description</th>
            <th>cost</th>
            <th>status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ member.id }}
                <form action="code_runner" method="POST">
                    {% csrf_token %}
                    <input type="text" name="id" class="form-control" style="width:30%;display: none" value='{{ member.id }}' />
                    <button type="submit">Call</button>
                </form>
            </td>
            <!-- <td>{{ member.task_id }}</td> -->
            <td>{{ member.task_description }}</td>
            <td>{{ member.cost }}</td>
            <td>{{ member.status }}</td>
            <td><center><a class="btn btn-sm btn-warning" href="submit_tasks/{{ member.id }}"><span class="glyphicon glyphicon-edit"></span> Update</a> <a class="btn btn-sm btn-danger" href="delete/{{ member.id }}"><span class="glyphicon glyphicon-trash"></span> Remove</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}